#move{
    height: 1500px;
    background-color: #f2f2f2;
}
#move div img{
    width: 300px;
}
#move .move_box{
    height: 200px;
    border: 1px solid black;
    margin: 10px 10px;
    transition: all .3s;
}
#move .move_box:hover{
    transform: translateY(-10px);
}
#move .mr{
    margin: 20px;
    /* border: 1px solid black; */
}
#move .mr h2{
    font-size: 25px;
    margin-bottom: 10px;
}
#move .mr p{
    margin-top: 20px;
    height: 100px;
    width: 500px;
    font-size: 18px;
    /* background-color: #a34e4e; */
}
#move .title{
    text-align: center;
    margin: 30px auto;
    font-size: 30px;
    font-weight: bold;
}